<header class="flex flex-row items-center bg-green-400 h-12 w-full mb-4">
    <span class="flex flex-row items-center gap-4 ml-24 text-white text-lg font-bold">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
           stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M16 12a4 4 0 10-8 0 4 4 0 008 0zm0 0v1.5a2.5 2.5 0 005 0V12a9 9 0 10-9 9m4.5-1.206a8.959 8.959 0 01-4.5 1.207"/>
      </svg>
      Ninja game assistant
    </span>
  <span class="absolute right-0 mr-24 text-white text-lg font-bold">Login</span>
</header>
<!--<div class="flex flew-row h-screen">-->
<div class="items-center justify-center">
<!--  <nav class="flex-1">-->
    <!--    <ul>-->
    <!--      <li class="mb-1"><span class="font-bold text-sm">Games</span></li>-->
    <!--      <li class="mb-1"><a href="#" class="text-sm hover:text-yellow-500">Button 1</a></li>-->
    <!--      <li class="mb-1"><a href="#" class="text-sm hover:text-yellow-500">Button 2</a></li>-->
    <!--    </ul>-->
<!--  </nav>-->
  <main class="max-w-3xl w-full mx-auto z-10">
    <router-outlet></router-outlet>
  </main>

</div>
<footer class="bg-gray-800 text-white py-3 px-4 text-center fixed left-0 bottom-0 right-0 z-40">
  <span class="text-white">2021</span>
</footer>

